claudeChat1
claudeChat2_separateFiles
claudeChat3_hirrixstab
claude_run1
claude_run2
claude_run3
claude_run4
claude_run5
claude_run6
components
notes.txt
qtui
config-20260301T003905Z-1-001.zip
src-20260301T003852Z-1-001.zip
config_old
src_old
